<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/" class="">
            <div class="form-label">
                <label for="name">Name: </label>
                <input type="text" name="name" id="email_id">
            </div>
            <div class="form-label">
                <label for="description">Description: </label>
                <input type="text" name="description" id="password_id">
            </div>
            <div>
                <label for="image">Image Url:</label>
                <input type="text" name="image" id="image_id">
            </div>
            <div class="form-label">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>